.button{
    min-width: 500px;
    padding: 1rem;
    color: white;
    background-color: lightpink;
    font-weight: 600;
    font-family: sans-serif;
}
.image{
    display: flex;
    justify-content: center;
}